.row {
  margin: 80px !important;
  margin-top: 50px !important;
}

@media all and (max-width: 1100px) {
  .row {
    margin-top: 15px !important;
  }
  .col-xl-4 {
    padding: 10px !important;
    display: flex !important;
    justify-content: center;
    text-align: center;
  }
}
