* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.app-site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  padding: 10px;
  flex: 1;
}
